{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block head %}
    <header class="site-header">
        <h1 class="sr-only">Scrollnapping animations</h1>
    </header>
{% endblock %}
{% block body %}
    <main>
        {% for project in projects %}
        <tr>
            <td>{{ project.picture }}</td>
            <td>{{ project.date }}</td>
            <td>
                <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
            </td>
        <section id="snapping" class="section">
            <div class="content">
                <h2><strong>{{ project.name }}</strong>, {{ project.gitHubLink }}</h2>


                <div class="text">
                    <img src="https://imgs.search.brave.com/v_AuPQ23QQtT_OWvSoPYwyHTDwpyINqKw7-bXoZC_F8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtd2l4bXAtZWQz/MGE4NmI4YzRjYTg4/Nzc3MzU5NGMyLndp/eG1wLmNvbS9mL2Uz/MDg1ZDViLWFmYzQt/NDNlMy1iNzdhLTlh/OTE5ZWEwNmM3NC9k/Y2UzZGQwLTBmMDA3/M2Q1LTkzMjEtNGZh/My1hOTA3LWE2YmQ0/NGZiZjljOC5qcGcv/djEvZmlsbC93XzEw/MjQsaF8xNTY0LHFf/NzUsc3RycC9kYXJr/ZXN0X2R1bmdlb25f/ZmFuYXJ0X2J5X2Fu/Ym94X2RjZTNkZDAt/ZnVsbHZpZXcuanBn/P3Rva2VuPWV5SjBl/WEFpT2lKS1YxUWlM/Q0poYkdjaU9pSklV/ekkxTmlKOS5leUp6/ZFdJaU9pSjFjbTQ2/WVhCd09qZGxNR1F4/T0RnNU9ESXlOalF6/TnpOaE5XWXdaRFF4/TldWaE1HUXlObVV3/SWl3aWFYTnpJam9p/ZFhKdU9tRndjRG8z/WlRCa01UZzRPVGd5/TWpZME16Y3pZVFZt/TUdRME1UVmxZVEJr/TWpabE1DSXNJbTlp/YWlJNlcxdDdJbWhs/YVdkb2RDSTZJanc5/TVRVMk5DSXNJbkJo/ZEdnaU9pSmNMMlpj/TDJVek1EZzFaRFZp/TFdGbVl6UXRORE5s/TXkxaU56ZGhMVGxo/T1RFNVpXRXdObU0z/TkZ3dlpHTmxNMlJr/TUMwd1pqQXdOek5r/TlMwNU16SXhMVFJt/WVRNdFlUa3dOeTFo/Tm1Ka05EUm1ZbVk1/WXpndWFuQm5JaXdp/ZDJsa2RHZ2lPaUk4/UFRFd01qUWlmVjFk/TENKaGRXUWlPbHNp/ZFhKdU9uTmxjblpw/WTJVNmFXMWhaMlV1/YjNCbGNtRjBhVzl1/Y3lKZGZRLjk4THFT/amk1RVhKVmtrYTR3/TVV4OVRObldzSFA4/a0RHaEdHOGIyRk5i/WFU"  alt="">
                    <p>We set the scrolling element, in this case our <code class="selector">HTML</code> element, to forcibly snap to the Y axis by using <code class="property">scroll-snap-type: y mandatory</code>.</p>

                    <p>{{ project.description }}</p>
                </div>
            </div>
        </section>
        {% endfor %}
        <section id="scrolling" class="section">
            <div class="content">
                <h2><strong>Next</strong>, we set up the <em>scrolling</em> animation</h2>

                <div class="text">
                    <img src="https://assets.codepen.io/197359/flower-yellow.png" alt="">
                    <p>We track the <code class="property">view()</code> position of the <code class="selector">section</code> elements using the named timeline <code class="property">view-timeline: --section;</code>. We had previously set the <code class="property">timeline-scope: --section</code> up in our <code class="selector">HTML</code> element, so we can access it from anywhere in the document.</p>

                    <p>We animate the <code class="selector">.content</code> children using <code class="property">animation-timeline: --section;</code>. The <code class="selector">.content</code> element will now animate based on its parent <code class="selector">section</code>'s position. This is important due to how we're handling the layout in the next section.</p>
                </div>
            </div>
        </section>
        <section id="layout" class="section">
            <div class="content">
                <h2><strong>Then</strong>, we position a <em>fixed</em> layout</h2>

                <div class="text">
                    <img src="https://assets.codepen.io/197359/flower-blue.png" alt="">
                    <p>We set the <code class="selector">.content</code> elements to <code class="property">position: fixed</code>, so they're removed from the normal document flow and stack on top of each other, giving them a solid background, so only one is visible at a time.</p>

                    <p>Their parent <code class="selector">section</code>s are positioned as normal in the layer below, taking up space, scroll-snapping, and powering the <code class="property">animation-timeline</code>.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block foot %}
    <footer>
        <p>That's it <span class="emoji">🌸</span></p>
    </footer>
{% endblock %}
