{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>My project</h1>
    <section class="project-section">
        {% for project in projects %}
            <div class="project">
                <img src="{{ project.picture }}" alt="{{ project.name }}">
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}</p>
                <a href="{{ project.gitHubLink }}" target="_blank">GitHub</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
